/*Text*/
span {
  font-family: monospace;
  font-size: 1.5em;
}

span:after {
  content: "_";
  opacity: 0;
  animation: cursor 1s infinite;
}

@keyframes cursor {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* styling */
html {
  height: 100%;
  width: 100%;
  background: radial-gradient(circle, white 0%, gray 100%) no-repeat;
}

body {
  text-align: center;
  height: 100%;
  width: 100%;
}

.outer {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.inner {
  margin-left: auto;
  margin-right: auto;
  width: 350px;
}


/*The Buddha*/
svg {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 200px;
}
svg .buddha {
  fill: #404148;
  -webkit-animation: hover 5s infinite;
          animation: hover 5s infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
}
svg .shadow {
  filter: url(#blur);
  opacity: 0.1;
  -webkit-animation: scale 5s infinite;
          animation: scale 5s infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  transform-origin: 50% 50%;
}

@-webkit-keyframes hover {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(-10%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes hover {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(-10%);
  }
  100% {
    transform: translateY(0%);
  }
}
@-webkit-keyframes scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}

/*Taiji*/
.circle {
  width: 100px;
  height:100px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  background: linear-gradient( to right, #fff 0%, #fff 50%, #202020 51%, #202020 100%);
  border-radius: 50%;
  overflow: hidden;
  animation: 4s rotateAllTheTime linear  infinite;
}
.left {
  
  width: 50px;
  height: 100px;
  overflow: hidden;
  background-color: #fff;
  
}

.left-semi-circle {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: #fff;
  right: 50%;
  transform: translateX(50%);
/*   top: 50px; */
  bottom: 0;
  border-radius: 50%;
  
  animation: 4s expand linear infinite;
  
  /* border: 1px solid #001eff; */
}
.left-middle-circle {
    border-radius: 100%;
    width: 10px;
    height: 10px;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    background-color: #202020;
    /* border: 1px solid #001efff; */
    position: absolute;
}
.right-semi-circle {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: #202020;
  right: 50%;
  transform: translateX(50%);
  top: 0;
  border-radius: 50%;
  animation: 4s expandBlack linear infinite;
}
.right-middle-circle {
   border-radius: 100%;
    width: 10px;
    height: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
/*     border: 1px solid #001efff; */
    position: absolute;
}

@keyframes rotateAllTheTime {
  from {
    transform: rotate(-360deg);
  }
}

@keyframes expand {
  from {
    height: 50px;
    width: 50px;
  }
  10% {
    width: 60px;
    height: 60px;
/*     left: 20px; */
  }
  
  25% {
    height: 100px;
    width: 100px;
/*     top: 0px; */
/*     left: 0px; */
  }
  26% {
    height: 90px;
    width: 90px;
/*     top: 10px; */
  }
  50% {
    width: 50px;
    height: 50px;
/*     top: 50px; */
  }
  51% {
    width: 40px;
    height: 40px;
/*     top: 40px; */
  }
  75% {
    width: 0px;
    height: 0px;
/*     top: 0px; */
  }
  76% {
    width: 10px;
    height: 10px;
  }
  to {
    height: 50px;
    height: 50px;
/*     top: 0px; */

  }
}


@keyframes expandBlack {
  from {
    width: 50px;
    height: 50px;
  }
  10% {
    width: 40px;
    height: 40px;

  }
  25% {
    width: 0px;
    height: 0px;
  }
  26% {
    width: 10px;
    height: 10px;
  }
  50% {
    width: 50px;
    height: 50px;
  }
  51% {
    width: 60px;
    height: 60px;
  }
  75% {
    width: 100px;
    height: 100px;
  }
  76% {
    width: 90px;
    height: 90px;
  }
  to {
    height: 50px;
    width: 50px;
  }
}